@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lato:wght@100;400&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.container {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titleClass {
  margin-left: 50px;

  margin-top: 15px;
  width: calc(0.7 * 100vw);
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFE;
}

#searchresult {
  width: 20vw;
  height: 30px;
  overflow: auto;
}

#icons {
  position: absolute;
  display: block;
  margin-top: -28px;
  margin-left: calc(40vw - 1vw);
}

.form-control {
  width: 40vw;
  height: 30px;
  margin-top: 25px;
  overflow: auto;
  background: #FFFFFF;
  border: 3px solid #0F0E17;
  border-radius: 29px;
  padding-left: 10px;
}

.form-control:focus {
  outline: 0;
}

#filecontainer {
  border-radius: 10px;
}

#filecontainer:focus {
  display: none;
}

#pageCentre {
  background: url('https://image.tmdb.org/t/p/original/tPK1kSevALeVGPfDFv1pwyHnoJ9.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}

#filter-records {
  position: absolute;
  z-index: 2;
  background-color:rgb(153, 153, 153);
  width: 40vw;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 10px;
  overflow: auto;
  overflow-x: hidden;
  max-height: 60vh;
}

.infoMedia {
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  border-bottom:1px solid #000;
}

.titreDescription {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -20px;
}

#modeLecture {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 80px;
}

#titreEtDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25vw;
  color: white;
  max-height: calc(0.3375 * 100vw);
  background-color: #0F0E17;
  border:2px solid #0F0E17;
  border-radius: 10px;
}

#titreVideoEnCours {
  width: 25vw;
  text-align: center;
  padding-top: 5vh;
  margin-top: 0;
  font-size: large;
}

#descriptionEnCours {
  max-width: 25vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw; 
  overflow: auto;
  overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 20px;
  background: rgba(100, 100, 100, 0.8) !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  opacity: 0.65;
  border: 1px solid rgba(222, 222, 222, 0.8);
  background: rgba(176, 176, 176, 0.8) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(222, 222, 222, 0.8);
  border-radius: 10px;
  border: 1px solid var(--my-color);
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

nav {
  height: 27px;
  width: 100vw;
  left: 0;
  background-color: rgba(200, 200, 200, 0.2);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  -webkit-app-region: drag;    /* Allow user to drag the window using this titlebar */
  -webkit-user-select: none;   /* Prevent user from selecting things */
  user-select: none;
}

#icons-btn-min,
#icons-btn-max,
#icons-btn-close {
  top: 0;
  margin-left: 20px;
  font-size: 10px;
  height: 15px;
  margin-right: 20px;
  padding-top: calc(15px - 7px);
  color: white;
}

.btn {
  top: 0;
  z-index: 0;
  border: 0.5px solid #fff;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.minimize-btn {
  background-color: #000;
}

.maximize-btn {
  background-color: #000;
}

.close-btn {
  background-color: #f00;
}

.btn:hover {
  background-color:rgb(17, 84, 151);
}

.close-btn:hover {
  background-color:rgb(148, 0, 0);
}